<!DOCTYPE html> 
<html> 
<head> 
<meta charset="ISO-8859-1"> 
<title>Play Your Hand Playa!</title> 
<link rel="stylesheet" href= "/blackjacksyle.css">
</head> 
<body> 
<h1>Ice Cube Plays Blackjack</h1> 
<div>You have ${{ game.wallet.dollars }}</div>
<div>Current bet is ${{ game.currentBet.amount }}</div>
<br>
<h2>Playah hand</h2> 
{{#game.playah.cards}} 
<div>{{ face }} of {{ suit }}</div>
{{/game.playah.cards}} 
<h3> Hand value: {{game.playah.getTotal}} </h3>
<br>
<h2>Dealer hand</h2> 
{{#game.dealah.cards.0}} 
<div>{{ face }} of {{ suit }}</div>
 <div>Card #2</div>
{{/game.dealah.cards.0}} 
<br>
<br>
{{^game.isPlayerBusted}} 
<form method="post" action="/hit"> 
<button>Hit me sucka!</button> 
</form> 
{{/game.isPlayerBusted}}
{{#game.isPlayerBusted}} 
<h1>Busted. It's easy taking your duckets!.</h1>
{{/game.isPlayerBusted}}
{{#game.isPlayerBlackjack}} 
<h1>Congratulations. You nailed the Blackjack.</h1>

{{/game.isPlayerBlackjack}}
<form method="post" action="/stand"> 
<button>Dealer Move</button> 
</form> 
</body> 
</html> 
