<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>Is player winner?{{game.isPlayerWinner}}</div>
<div>Current Remaining Wallet Amount: ${{ game.wallet.dollars }}</div>
<form method="post" action="/bet">
    <input required autofocus type="number" name="bet">
    <button>Re-Bet</button>
    </form>
    
    <h1>Hand Summary</h1>
   <h2>Player hand</h2> 
{{#game.playah.cards}} 
<div>{{ face }} of {{ suit }}</div>
{{/game.playah.cards}} 

<h2>Dealer hand</h2> 
{{#game.dealah.cards}} 
<div>{{ face }} of {{ suit }}</div> 
{{/game.dealah.cards}}

<h2>Cards Remaining in Deck {{ game.getNumberCards }} </h2>     

{{#game.isDeckEmpty}} 
<h1>There are not enough cards remaining to play. Move along.</h1> 
{{/game.isDeckEmpty}}
      
{{#game.isWalletEmpty}} 
<h1>You are out of money. Go to the ATM or Move Along!.</h1> 
{{/game.isWalletEmpty}}      
      
</body>
</html>